__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

.pipenv/
.pipenv
pipfile.lock

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
*.sql
*.sqlite3

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.ipynb_checkpoints

.idea/
.vscode/

*.env

.mypy_cache/
*.json

.pyre/
